* {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    box-sizing: border-box;
}



html {
    font-size: 16px;
}

body {
    margin-left: 7%;
    margin-right: 7%;
    background-color: rgba(192, 192, 192, 0.1);
    background-color: bisque;
}

h1 {
    font-size: 2em;
}

h1#headline {
    font-size: 4em;
    margin-top: 0.15em;
    margin-bottom: 0.15em;
    color: #505355;
    border-bottom: solid 1px black;
}

h2 {
    font-size: 1.8em;
    line-height: 1.45em;
}

h3 {
    font-size: 1em;
    color: #00ADEE;
}

header img {
    height: 25px;


}

.student-gray {
    color: #505355;
}

.italic-text {
    font-style: italic;
}

#student-picture img{
    border-radius: 50%;
    height: 500px;
    justify-self: auto;

}

footer a {
    display: block; 
    text-align: center; 
    font-family: 'Arial', sans-serif; 
    font-size: 1.2em; 
    color: #faf6f6; 
    text-decoration: none; 
    margin: 0 auto; 
    padding: 10px 20px; 
    background-color: #535353; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; 
    border-radius: 150%;
    width: 15%;
    
    
   
  }
  
  footer a:hover {
    background-color: #00ADEE; 
    color: white; 
  }
  